# Python & cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env/

# Secrets & configs
.env
*.env

# Database & data (for test level we dont need to ignore it!)
# app_data.sqlite
# *.sqlite
# *.db

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
